<div class="form-flex">
    <div class="animate__animated animate__fadeInLeft">
        <div class="form-box frame">
        <h2>Login</h2>

        <form class="form login-form">
            <label class="form-text"> Email: </label>
            <input type="text" class="form-input" id="email-login">
            <label class="form-text"> Password: </label>
            <input type="password" class="form-input" id="password-login">
            <button type="submit" class="form-btn">login</button>
        </form>
        </div>
    </div>
    <div class="animate__animated animate__fadeInRight">
        <div class="form-box frame">
        <h2>Signup</h2>

        <form class="form signup-form">
            <label class="form-text"> Email: </label>
            <input type="text" class="form-input" id="email-signup">
            <label class="form-text"> Username:</label>
            <input type="text" class="form-input" id="name-signup">
            <label class="form-text"> Password: </label>
            <input type="password" class="form-input" id="password-signup">
            <button type="submit" class="form-btn">signup</button>
        </form>
        </div>
    </div>
</div>
<script src="./js/login.js"></script>
<script src="./js/signup.js"></script>
