<section class="shrink">
    <div class="animate__animated animate__fadeInUp logout-flex">
        <div class="logout">
        <div class="logout-info">
            <h2>You've logged out!</h2>
            <p>But we know you'll be hungry again soon &#128521;</p>
        </div>
        <div><img src="/css/images/check.png" class="check"></div>
        </div>
    </div>
</section>